[Unit]
Description=videos NFS share from NAS
DefaultDependencies=no
Conflicts=umount.target
BindsTo=tailscaled.service
After=network-online.target remote-fs.target tailscaled.service
Before=umount.target

[Mount]
What=truenas-scale.carp-wyvern.ts.net:/mnt/naspool/videos
Where=/mnt/videos
Type=nfs
Options=defaults

[Install]
WantedBy=multi-user.target
